<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />

    <queries>
        <package android:name="moe.shizuku.privileged.api" />
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="me.weishu.kernelsu" />
        <package android:name="me.weishu.kernelsu.next" />
        <package android:name="bin.mt.plus" />
        <package android:name="bin.mt.plus.canary" />
        <package android:name="org.lsposed.manager" />
        <package android:name="org.lsposed.lspatch" />
        <package android:name="com.xiaomi.vipaccount" />
        <package android:name="com.xiaomi.community" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidPersonalAgent">
        <meta-data
            android:name="com.aegis.apa.BUILD_SIGNATURE"
            android:value="Eason Lu with gpt" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.reports"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/report_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidPersonalAgent"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
